:root {
    --color-primary: #795548;

    --color-secondary: #4CAF50;
    --color-secondary-dark: #388E3C;
    --color-accent: #FF9800;

    --color-text-dark: #212121;
    --color-text-light: #FFFFFF;
    --color-primary-light: #F5EFEA;  
    --color-background: #FFFFFF;     
    --color-body-bg: #faf4ef;

    --font-size-base: 1rem;
    --font-size-sm: 0.875rem;
    --font-size-h1: 2.5rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.5rem;

    --font-family-sans: 'Arial', sans-serif;

    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
    --space-xl: 3rem;
    --space-xxl: 4rem;
    
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1400px;
}