.btn {
   
    display: inline-block;
    padding: var(--space-sm) var(--space-lg);
    border-radius: 4px;
    text-decoration: none;
    font-size: var(--font-size-base);
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    border: 2px solid transparent; 
}

.btn-primary {
    background-color: var(--color-secondary); 
    color: var(--color-text-light); 
    border-color: var(--color-secondary);
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: var(--color-secondary-dark);
    border-color: var(--color-secondary-dark);
}

.btn-primary:active {
    transform: translateY(1px); 
}

.btn-primary:disabled,
.btn-primary.disabled {
    background-color: var(--color-primary-light); 
    color: #9E9E9E;
    border-color: var(--color-primary-light);
    cursor: not-allowed;
}

.btn-secondary {
    background-color: transparent;
    color: var(--color-primary); 
    border-color: var(--color-primary);
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: var(--color-primary);
    color: var(--color-text-light); 
}

.btn-secondary:disabled,
.btn-secondary.disabled {
    background-color: transparent;
    color: #9E9E9E;
    border-color: #9E9E9E;
    cursor: not-allowed;
}

.btn-marrom {
    background-color: #6B4F4F;
    color: #FFF;
    border: none;
}

.btn-marrom:hover {
    background-color: #553E3E;
}